/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

nav {
	/*value for rem is short for root-em, most of the browsers has a font size value of 16px*/
	/*1rem = 16px*/
	/* 0.8*16=12.8 */

	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between and element's
border and it's content.*/

nav .nav, nav .nav-logo {
	/*it changes elements to be inline elements*/
	display: inline;
	margin: 0.5rem;
/*	margin-top: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;*/
}

#intro {
/*	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;*/

	/*shorthand property*/
	padding: 2rem 10% 3rem 10%;

	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
} 

#intro button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info .card {
	/*allows cards to appear beside each other*/
	display: inline-block;
	/*aligns elements with tallest element in line*/
	/*used with inline block*/
	vertical-align: top;
	/*allows cards to be equal height that adjust with content*/
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
	}

footer span {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}