/*
CSS Rules
selector{
	property:value
}
*/

/*universal selector*/
*{
	/*monospace acts as alternate for Courier New*/
	font-family: "Courier New", monospace;
	font-size:20px ;
}

body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

/*navigation bar*/
nav{
	background-color: white;
}

/*selector:hover pseudo class*/
/*changes when hovered over*/

a:hover{
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

h1{
	color: orange !important;
	/*!important has highest priority*/
	text-align: center;
	font-size: 2rem;
}

/*landing section*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

/*id selector*/
/*#id-name*/

#zuitt-motto{
	/*to change space between letters*/
	letter-spacing: 5px;
}

h3 {
	letter-spacing: 25px;
}

/*Adjacent sibling selector*/
/*selector+selector*/

h3 + img {

	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*#zuitt-motto + img {

	height: 300px;
	width: 300px;
	border-radius: 50px;
}*/

/*The selectors used for combinator selectors aren't limited/ restricted to type selectors only. Id, Class, attribute and universal selectors may also be used.*/
/*The height, changes the vertical dimensions of the element*/
/*The width, changes the horizontal dimensions of the element*/
/*The border-radius, changes the corners of the element from sharp to a rounded corners.*/

ol {
	list-style-type: none;
}

/*class selector*/
/*.class-name*/

.offering-item {
	text-transform: uppercase;
	/*makes all lettrs caps*/
}

/*descendant selector*/
/*selecto selector*/

#bootcamp-learning-list li{
	color: #070966;
}

/*The color property and similar properties that change color can also accept hex values. Hexademical values is consist of (#) sign in combination with 6 alphnumeric characters*/

/*general sibling selector*/
/*selector ~ selector*/

h2 ~ a{
	text-decoration: none;
}

/*text-decoration is aproperty that chnages lines included in text (e.g. oveline, underline and strikethrough)*/
/*here, value none removes underlines from links*/

/*child selector*/
/*selector > selector*/

body > section > form > label {
	color: rgb(237, 17, 35);
}

/*The child selector may include more that two selectors, and the last tag/
element is where the changes will happen*/

/*attribute selector*/
/*tagname[attribute]*/

input[required]{
	border-width: 2px;	
	border-radius: 5px;
	border-style: solid ;
	background-color: white;
}

/*registered section*/

form{
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
	left: 37.25%;
}

button{
		background-color:  #cf0053;
		color: white;
		border: 0px;
		border-radius: 5px;
}