p{
	color: yellow;
}

*{
	font-family: "Arial", Sans-serif;
	font-size:20px ;
}

h1{
	font-size: 40px;
}

#bootcamp-learning-list{
	text-transform: uppercase;
}

.bgg{
	background-color: seagreen;
}

li[class="bord"]{
	border-width: 2px;	
	border-radius: 5px;
	border-style: solid ;
}

img + ul {
	list-style-type: none;
}

.imres img {

	height: 100px;
	width: 100px;
	border-radius: 150px;
}

.txtal ~ p {
	text-align: center;
	color: black;
}

body > section > ul > li {
	letter-spacing: 10px;
}